payload.json
network_discovery
puertos
*.pcap
*.log
*.csv
*.nmap*
*.key
*.pub
*.ovpn
*.xsl
*.gz
*.exe
*.macho
*.elf
chisel*
env/
lib*
pwntools/
__pycache__/
build/
.git/
.github/
modules/env
include/
report
reports
index2.html
sessions/shell.php
sessions/shell.php.jpg.php
sessions/*
hydra.restore
external/.exploit
modules_ext/
vpn/
sessions/users.txt