{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <div class="card bg-secondary text-light p-4 mb-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h1 class="mb-4">Edit Note</h1>
        <form id="editNoteForm">
            
            <div class="mb-3">
                <a class="neon-text" href="/" alt="home">Home</a>
                <br><br>
                <label for="content" class="form-label">Content</label>
                <div id="editor">{{ note.content | safe }}</div>
                <input type="hidden" id="content" name="content">
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a class="btn btn-secondary" href="{{ url_for('view_note') }}">Cancel</a>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var quill = new Quill('#editor', {
            theme: 'snow'
        });
        
        document.querySelector('.loading-container').style.display = 'none';
        
        document.getElementById('editNoteForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const spinner = document.getElementById('loader');
            spinner.style.display = 'block';
            const content = quill.root.innerHTML;
            
            const formData = new FormData();
            formData.append('content', content);
            
            fetch('/notes', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                spinner.style.display = 'none';
                if (response.redirected) {
                    window.location.href = response.url;
                } else {
                    return response.json();
                }
            })
            .then(data => {
                spinner.style.display = 'none';
                console.log('Success:', data);
            })
            .catch((error) => {
                spinner.style.display = 'none';
                console.error('Error:', error);
            });
        });
    });
</script>
</body>
</html>

{% endblock %}