<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LazyOwn Command and Control Center</title>
    <link href="/static/css/bootstrap-4.5.2.min.css" rel="stylesheet">
    <link href="/static/css/vis-network-9.1.2.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/select2-4.1.0.min.css" rel="stylesheet" />
    <link href="/static/css/quill-snow.css" rel="stylesheet">
    <link href="/static/css/quill-bubble.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/tippy-6.css" />
    <link href="/static/css/quill-core.css" rel="stylesheet" />    
    <link rel="stylesheet" href="/static/css/xterm.css" />
    <link href="/static/css/style.css" rel="stylesheet" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<!-- particles.js container --> 
<body  class="bg-dark text-success">
    <div class="loading-container">
        <div class="loading-spinner"></div>
    </div>
    <div class="container mt-5">
        <div class="text-center mb-4">
            <h1 class="neon-text">LazyOwn Command and Control Center [;,;]</h1>
            <pre class="neon-text-calaca chico">
                    .-==++++=-:.                                      
                .=*%@@@@@@@@@@@@@@%+-                                  
              =%@@%@@@@@@@@@@@@@@@%#%@#-                               
           .*@@**%@@@@@@@@@@@@@@==#@@@@@@=                             
          +@@*+@@@@@@@@@@@@@@@%:%@@@@@@@@@@-                           
         %@@*+@@@@@@@@@@@@@@@@=%@@@@@@@@@@@@:                          
        +@@@*@@@@@@@@@@@@@@@@@%@@@@@@@@@@@@%*                          
        *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*%                          
        +@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@=@                          
        :@@@@@@@@@@@@@@@@@@@@@+@@@@@@@@@@@@:@                          
         #@#@@@@@@@@@@@@@@#**+-=@%@@@@@@@#@:@                          
       :%%@@%@@@@@@@@%@@@%@@@@@*:#@@@@@@@+#=#                          
       =:.:#@@%+@@+*%@@@*-.  .=%@=%@@@@@@@=@+                          
        +%  :%@%%**@@%=       *%@-#@@@@@@@@@:                          
        .@:   ::+#**=         %@*%+*#%@@%@@+                           
        %**==+#*:@%#=-:      +@*@@@@@@@#**:                            
       -@@@@@%%=:=@@@@@@@%#%%@#%@@#*=:==                               
         .-:=#+   .=%%@@%%#@@@@@#+=.-*                                 
             =@# -%%@@@@%++#=**==- =@+                                 
              #@@@@@@@@@@@#%:++=*%:%@@                                 
             -*=+#+##**#+==.  ==*@@#@+                                 
               :=#=--::.    *=#@%@%=                                   
                :+#-      :%##@@@#.                                    
                 ===     =%+#@@@=                                      
                  :--::+#*=%@%@:                                       
                   *###*#%%#*%.                                        
                    :======-.                                          
                    
</pre></div>
<span id="loader"" class="loader" style="display: none;"></span>