<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LazyOwn Command and Control Center</title>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/vis-network/styles/vis-network.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.bubble.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css" />
    <link href="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.core.css" rel="stylesheet" />    
    <link rel="stylesheet" href="/static/css/xterm.css" />
    <link href="/static/css/style.css" rel="stylesheet" />
    <script src="/static/js/particles.js"></script>
    <script>
        particlesJS.load('particles-js', '/static/js/particles.json', function() {
            console.log('callback - particles.js config loaded');
        });
    </script>
</head>
<!-- particles.js container --> 
<body  class="bg-dark text-success">
    <dev id="particles-js"></dev>
    <div class="loading-container">
        <div class="loading-spinner"></div>
    </div>
    <div class="container mt-5">
        <div class="text-center mb-4">
            <h1 class="neon-text"><div class='console-container'><span id='text'></span><div class='console-underscore' id='console'>&#95;</div></div></h1>
            <pre class="neon-text-calaca chico">
                    .-==++++=-:.                                      
                .=*%@@@@@@@@@@@@@@%+-                                  
              =%@@%@@@@@@@@@@@@@@@%#%@#-                               
           .*@@**%@@@@@@@@@@@@@@==#@@@@@@=                             
          +@@*+@@@@@@@@@@@@@@@%:%@@@@@@@@@@-                           
         %@@*+@@@@@@@@@@@@@@@@=%@@@@@@@@@@@@:                          
        +@@@*@@@@@@@@@@@@@@@@@%@@@@@@@@@@@@%*                          
        *@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*%                          
        +@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@=@                          
        :@@@@@@@@@@@@@@@@@@@@@+@@@@@@@@@@@@:@                          
         #@#@@@@@@@@@@@@@@#**+-=@%@@@@@@@#@:@                          
       :%%@@%@@@@@@@@%@@@%@@@@@*:#@@@@@@@+#=#                          
       =:.:#@@%+@@+*%@@@*-.  .=%@=%@@@@@@@=@+                          
        +%  :%@%%**@@%=       *%@-#@@@@@@@@@:                          
        .@:   ::+#**=         %@*%+*#%@@%@@+                           
        %**==+#*:@%#=-:      +@*@@@@@@@#**:                            
       -@@@@@%%=:=@@@@@@@%#%%@#%@@#*=:==                               
         .-:=#+   .=%%@@%%#@@@@@#+=.-*                                 
             =@# -%%@@@@%++#=**==- =@+                                 
              #@@@@@@@@@@@#%:++=*%:%@@                                 
             -*=+#+##**#+==.  ==*@@#@+                                 
               :=#=--::.    *=#@%@%=                                   
                :+#-      :%##@@@#.                                    
                 ===     =%+#@@@=                                      
                  :--::+#*=%@%@:                                       
                   *###*#%%#*%.                                        
                    :======-.                                          
                    
</pre></div>
<span id="loader"" class="loader" style="display: none;"></span>