{% extends "base.html" %}

{% block content %}

<style>
    input[type="checkbox"] {
        float: right;
            }
            </style>
        <div class="card bg-secondary text-light p-4 mb-4">
            <h1>Techniques in {{ directory }}</h1>
            <p>
                Disclaimer: This test is specifically targeted by payload.json within the LazyOwn Framework, not by the LazyOwn Agent. [!] Please do not use this in military or secret service organizations, or for illegal purposes. (This is non-binding, as these entities often disregard laws and ethics anyway.)
            </p>
            <a class="neon-text" href="{{ url_for('index') }}">Back to index.</a>
            <form id="test-form">
                <div class="table-container">
                    {% for test in yaml_data %}
                    <div class="table-row">
                        <div class="terminal-window">
                            <div class="terminal-controls">
                                <div class="terminal-control-button close-button"></div>
                                <div class="terminal-control-button minimize-button"></div>
                                <div class="terminal-control-button maximize-button"></div>
                            </div>                            
                            <div class="table-cell check">
                                <input type="checkbox" name="selected_tests" value="{{ test.auto_generated_guid }}">
                            </div>
                            <div class="table-cell"><div class="terminal-title">{{ test.name | safe }}</div></div>
                            <div class="table-cell card-body">{{ test.description  | safe }}</div>
                            <div class="table-cell">{{ test.supported_platforms | safe }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button type="button" class="btn-run-test" onclick="runTest()">Run Test</button>
            </form>
            <div class="terminal-window">
                <div class="terminal-controls">
                    <div class="terminal-control-button close-button"></div>
                    <div class="terminal-control-button minimize-button"></div>
                    <div class="terminal-control-button maximize-button"></div>
                </div>                            
                <div class="table-cell"><div class="terminal-title">Results</div></div>
                <div class="table-cell card-body"><div id="output"></div></div>
            </div>            
            <br>
            <a class="neon-text" href="{{ url_for('index') }}">Back to index.</a>
            
            <!-- Modal del chatbot -->
            <div class="modal fade" id="chatbotModal" tabindex="-1" aria-labelledby="chatbotModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="chatbotModalLabel">LazyOwn RedTeam Adversary Emulator Assistant</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="chatbotResponse" class="mb-3">
                                <!-- Respuestas del chatbot se mostrarán aquí -->
                            </div>
                            <form id="chatbotForm">
                                <div class="form-group">
                                    <label for="chatbotInput">Write your message to LLM (Groq): </label>
                                    <textarea class="form-control" id="chatbotInput" rows="3" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Send Req</button>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>    
            
            <h2 class="mt-4">Contact</h2>
            <p>For any questions or feedback, please reach out to <a href="mailto\:grisiscomeback[at]gmail[dot]com" class="text-success">Gris Iscomeback</a>.</p>
        </div>
        <div id="dock-container">
            <div id="dock">
                <ul>
                    <li id="chatbotButton">
                        <span>Adv Bot</span>
                        <a href="#"><img src="/static/Linux.png"/></a>
                    </li>                     
                </ul>
                <p class="neon-text">&copy; 2025 LazyOwn RedTeam. All rights GPLv3.</p>
            </div>
        </div>        
        
        <div id="toastr" class="toastr alert alert-success" role="alert">
            Command exec successfully.
        </div>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-T4VF6JJ095"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-T4VF6JJ095');
            </script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
        <script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                document.querySelector('.loading-container').style.display = 'none';
                kofiWidgetOverlay.draw('grisuno', {
                    'type': 'floating-chat',
                    'floating-chat.donateButton.text': 'Support me',
                    'floating-chat.donateButton.background-color': '#5cb85c',
                    'floating-chat.donateButton.text-color': '#fff'
                });
                var directory = "{{ directory | e }}";
                var yamlData = [
                    {% for test in yaml_data %}
                    {
                        name: "{{ test.name | e }}",
                        description: "{{ test.description | e }}",
                        supported_platforms: "{{ test.supported_platforms | e }}"
                    }
                    {% if not loop.last %},{% endif %}
                    {% endfor %}
                ];
                document.getElementById('chatbotButton').addEventListener('click', function() {
                    $('#chatbotModal').modal('show');
                });
                
                document.getElementById('chatbotForm').addEventListener('submit', function(event) {
                    event.preventDefault();
                    var userInput = document.getElementById('chatbotInput').value;
                    userInput += " Tecnic ID: " + directory + " yamlData: " + yamlData
                    const spinner = document.getElementById('loader');
                    spinner.style.display = 'block';
                    
                    fetch('/adversary', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ prompt: userInput })
                    })
                    .then(response => response.json())
                    .then(data => {
                        spinner.style.display = 'none';
                        console.log(data['response']); 
                        if (data.error) {
                            
                            document.getElementById('chatbotResponse').innerHTML += `<p style="color: red;">${data.error}</p>`;
                        } else {
                            
                            var converter = new showdown.Converter();
                            var html = converter.makeHtml(data.response);
                            document.getElementById('chatbotResponse').innerHTML += `<p>${html}</p>`;
                            if (data.response) {
                                
                                //document.getElementById('chatbotResponse').innerHTML += `<pre>${data.output}</pre>`;
                            }
                        }
                    })
                    .catch(error => {
                        spinner.style.display = 'none';
                        console.error('Error:', error);
                        document.getElementById('chatbotResponse').innerHTML += `<p style="color: red;">Error de red: ${error.message}</p>`;
                    });
                    
                    document.getElementById('chatbotInput').value = '';
                });
                
            });
            async function fetchLog() {
                try {
                    const response = await fetch('/api/output');
                    
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    
                    const data = await response.json();
                    const outputDiv = document.getElementById('output');
                        const outputText = data.output.replace(/\n/g, '<br>');
                        const cleanOutputText = stripAnsi(outputText);
                        
                        outputDiv.innerHTML += `<p>${cleanOutputText}</p>`;
                        
                        console.log(data);
                    } catch (error) {
                        console.error('There was a problem with the fetch operation:', error);
                    }
                }            
                function toastr(command){
                    var toastr = document.getElementById('toastr');
                    toastr.classList.add('show');
                    setTimeout(function() {
                        toastr.classList.remove('show');
                    }, 22000);
                    toastr.innerHTML += "<div class='.neon-text'> " + command + " </div>"
                    fetchLog()
                };
                function atomicGen(id, type){
                    let command;
                    const spinner = document.getElementById('loader');
                    spinner.style.display = 'block';
                    if (type === 'agent') {
                        command = "atomic_agent web";
                    } else {
                        command = "atomic_" + type + " " + id;
                    }
                    console.log(command)
                    fetch('/api/run', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ command })
                    })
                    .then(response => response.json())
                    .then(data => {
                        spinner.style.display = 'none';
                        const outputDiv = document.getElementById('output');
                        if (data.error) {
                            outputDiv.innerHTML += `<p style="color: red;">${data.error}</p>`;
                        } else {
                            toastr(command)
                        }
                    });                
                }
                function runTest() {
                    const spinner = document.getElementById('loader');
                    spinner.style.display = 'block';
                    const checkboxes = document.querySelectorAll('input[type="checkbox"]');
                    const valoresMarcados = [];
                    checkboxes.forEach(checkbox => {
                        if (checkbox.checked) {
                            atomicGen(checkbox.value, 'gen');
                        }
                    });
                    atomicGen('lol', 'agent');
                    spinner.style.display = 'none';
                }
                </script>
    </div>
</body>
</html>

{% endblock %}